 @import url("./01_intro-section.css");

:root{
    --fav-icecream: pink;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #222;
      color: #fff;
    }
  }
  
  @media (prefers-color-scheme: light) {
    body {
      background-color: #fff;
      color: #222;
    }
  }

  main{
    position: relative;
  }
  
  nav#navigation{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
  }

  