#project-gallery div.card{
    /* max-width: 400px; */
    height: 100%;
}

#project-gallery img{
    height: 250px;
    max-height: 75%;
    border: var(--bs-dark) solid;
    border-width: 2px 2px 0 2px;
    object-fit: cover
}

#project-gallery a{
    text-decoration: none;
}



@media screen and (min-width: 570px){

    #project-gallery div.card-body{
        /* max-width: 400px; */
        height: 450px;
    }
    #project-gallery img{
        height: 300px;
    }
}

p.card-text{
    padding: 0.6rem;
}