#projects div.card-group div.card{
    /* max-width: 400px; */
    height: 100%;
}

#project-gallery div div div img{
    height: 250px;
}

@media screen and (min-width: 570px){

    #projects div.card-group div.card{
        /* max-width: 400px; */
        height: 100%;
        max-height: 250px;
    }
}